html {
  height: 90%;
  }

body {
  font-family: Verdana, Arial, Times New Roman;
  font-size:24px;
  height: 100%;
  }

.customButtons{
  font-family: Verdana, Arial, Times New Roman;
  font-size:18px;
  }

